    
  <div class="site-menubar">
    <ul class="site-menu">
      <li class="site-menu-item has-sub">
        <a href="javascript:void(0)">
          <i class="site-menu-icon wb-dashboard" aria-hidden="true"></i>
          <span class="site-menu-title">Master Data</span>
          <span class="site-menu-arrow"></span>
        </a>
        <ul class="site-menu-sub">
          <li class="site-menu-item active">
            <a class="animsition-link" href="{% url 'get-country' %}">
              <span class="site-menu-title">Country</span>
            </a>
          </li>

          <li class="site-menu-item active">
            <a class="animsition-link" href="{% url 'get-category' %}">
              <span class="site-menu-title">Category</span>
            </a>
          </li>
        </ul>
      </li>
      <li class="site-menu-item has-sub">
        <a href="">
          <i class="site-menu-icon wb-dashboard" aria-hidden="true"></i>
          <span class="site-menu-title">User Management</span>
          <span class="site-menu-arrow"></span>
        </a>
        {% comment %} <ul class="site-menu-sub">
          <li class="site-menu-item active">
            <a class="animsition-link" href="">
              <span class="site-menu-title">Doctors</span>
            </a>
          </li>
        </ul> {% endcomment %}
      </li>

      {% comment %} <li class="site-menu-item has-sub">
        <a href="javascript:void(0)">
                <i class="site-menu-icon wb-dashboard" aria-hidden="true"></i>
                <span class="site-menu-title">Dashboard</span>
                        <span class="site-menu-arrow"></span>
            </a>
        <ul class="site-menu-sub">
          <li class="site-menu-item active">
            <a class="animsition-link" href="index.html">
              <span class="site-menu-title">Dashboard v1</span>
            </a>
          </li>
          <li class="site-menu-item">
            <a class="animsition-link" href="dashboard/v2.html">
              <span class="site-menu-title">Dashboard v2</span>
            </a>
          </li>
          <li class="site-menu-item">
            <a class="animsition-link" href="dashboard/ecommerce.html">
              <span class="site-menu-title">Ecommerce</span>
            </a>
          </li>
          <li class="site-menu-item">
            <a class="animsition-link" href="dashboard/analytics.html">
              <span class="site-menu-title">Analytics</span>
            </a>
          </li>
          <li class="site-menu-item">
            <a class="animsition-link" href="dashboard/team.html">
              <span class="site-menu-title">Team</span>
            </a>
          </li>
        </ul>
      </li> {% endcomment %}
    </ul>
  </div>   